In [1]:
import petl as etl

In [4]:
# lecture du fichier CSV
table = etl.fromcsv('test.csv')

# affichage du resultat
etl.look(table)

+-----+-----------+-----------------+------------+
| id  | name      | age             | city       |
+=====+===========+=================+============+
| '1' | 'Alice'   | '25'            | 'New York' |
+-----+-----------+-----------------+------------+
| '2' | 'Bob'     | 'not_available' | 'London'   |
+-----+-----------+-----------------+------------+
| '3' | 'Charlie' | '30'            | 'Sydney'   |
+-----+-----------+-----------------+------------+
| '4' | 'David'   | '22'            | 'New York' |
+-----+-----------+-----------------+------------+