In [15]:
import petl as etl
import pandas as pd

In [16]:
# lecture du fichier CSV
table = etl.fromcsv("test.csv")

# affichage du resultat
etl.look(table)

+-----+-----------+-----------------+------------+
| id  | name      | age             | city       |
+=====+===========+=================+============+
| '1' | 'Alice'   | '25'            | 'New York' |
+-----+-----------+-----------------+------------+
| '2' | 'Bob'     | 'not_available' | 'London'   |
+-----+-----------+-----------------+------------+
| '3' | 'Charlie' | '30'            | 'Sydney'   |
+-----+-----------+-----------------+------------+
| '4' | 'David'   | '22'            | 'New York' |
+-----+-----------+-----------------+------------+

### toutes les data sont du type string en sortie de lecture

#### la fonction .convert va nous permettre d'appliquer a chaque valeur de la colonne age en etype entier

In [17]:
table = (
    table
    .convert('age', lambda v: int(v) if v else None)
)
etl.look(table)

+-----+-----------+------+------------+
| id  | name      | age  | city       |
+=====+===========+======+============+
| '1' | 'Alice'   |   25 | 'New York' |
+-----+-----------+------+------------+
| '2' | 'Bob'     | None | 'London'   |
+-----+-----------+------+------------+
| '3' | 'Charlie' |   30 | 'Sydney'   |
+-----+-----------+------+------------+
| '4' | 'David'   |   22 | 'New York' |
+-----+-----------+------+------------+

#### .select va nous permettre de filtrer le tableau selon une ou plusieurs conditions

#### la condition est l'age compris en tre 20 et 30 ans

In [18]:
table2 = (
    table   
    .select(lambda row: row.age is not None and row.age > 20 and row.age < 30)
)
etl.look(table2)

+-----+---------+-----+------------+
| id  | name    | age | city       |
+=====+=========+=====+============+
| '1' | 'Alice' |  25 | 'New York' |
+-----+---------+-----+------------+
| '4' | 'David' |  22 | 'New York' |
+-----+---------+-----+------------+

#### .cut va restreindre le tableqau a certaines colonnes

In [19]:
table3 = (
    table2
    .cut('name', 'city')
)
etl.look(table3)

+---------+------------+
| name    | city       |
+=========+============+
| 'Alice' | 'New York' |
+---------+------------+
| 'David' | 'New York' |
+---------+------------+

#### continuons avec un fichier de 500 lignes account_list.csv

In [20]:
data = etl.fromcsv("account_list.csv")
etl.look(data)

+-------------------+---------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| name              | address                                                 | email                        | phone_number           | job                                | company          | date_of_birth | credit_card_number    | credit_card_provider | credit_card_expire | iban                     |
+===================+=========================================================+==============================+========================+====================================+==================+===============+=======================+======================+====================+==========================+
| 'Ian Yang'        | '5143 Garcia Shoal Suite 003\nJustintown, CA 11547'     | 'jessicanoble@example.org'   | '(520)497-4691x878'    | 'Patent examiner'                  | 'Mcneil LLC'     | '1988-02-06'  | '4636965895776324'    | 'JCB 16 digit'       | '12/27'            | 'GB14RZNN89771295811289' |
+-------------------+---------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| 'Colin Hernandez' | '9873 John Fort Suite 560\nJessicaland, NJ 92651'       | 'hsmith@example.com'         | '(605)552-4666'        | 'Production assistant, television' | 'Fernandez-Hart' | '1936-02-16'  | '4497383897034'       | 'VISA 16 digit'      | '04/33'            | 'GB67QQXR62530753241657' |
+-------------------+---------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| 'Carrie Newton'   | '53038 Elizabeth Pines Suite 662\nBrownmouth, WY 59525' | 'hevans@example.net'         | '(255)638-1345x32467'  | 'Engineer, aeronautical'           | 'Stewart PLC'    | '1910-09-05'  | '4500647468766235785' | 'VISA 16 digit'      | '06/28'            | 'GB94MWTS75251442969367' |
+-------------------+---------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| 'Brenda Jones'    | '197 Ponce Ramp\nMillerburgh, MH 63890'                 | 'jennifercastro@example.org' | '+1-480-261-6191x537'  | 'Scientist, marine'                | 'Graham Ltd'     | '1945-11-26'  | '180079093536163'     | 'Mastercard'         | '05/31'            | 'GB77OJME79869049973578' |
+-------------------+---------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| 'Amanda Daniel'   | '5241 Hodge Brook Apt. 056\nAlyssachester, KY 74623'    | 'blake28@example.net'        | '+1-330-273-3579x8539' | 'Engineer, production'             | 'Fields LLC'     | '1955-12-23'  | '4524226787210830'    | 'VISA 16 digit'      | '07/30'            | 'GB19MRAU53286539413909' |
+-------------------+---------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
...

In [21]:
# nettoyer la colonne 'address' en supprimant les retours chariot et en normalisant les espaces
data_clean = data.convert('address', lambda v: ' '.join(v.split()) if v else v)

# affichage du rÃ©sultat
etl.look(data_clean)

+-------------------+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| name              | address                                                | email                        | phone_number           | job                                | company          | date_of_birth | credit_card_number    | credit_card_provider | credit_card_expire | iban                     |
+===================+========================================================+==============================+========================+====================================+==================+===============+=======================+======================+====================+==========================+
| 'Ian Yang'        | '5143 Garcia Shoal Suite 003 Justintown, CA 11547'     | 'jessicanoble@example.org'   | '(520)497-4691x878'    | 'Patent examiner'                  | 'Mcneil LLC'     | '1988-02-06'  | '4636965895776324'    | 'JCB 16 digit'       | '12/27'            | 'GB14RZNN89771295811289' |
+-------------------+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| 'Colin Hernandez' | '9873 John Fort Suite 560 Jessicaland, NJ 92651'       | 'hsmith@example.com'         | '(605)552-4666'        | 'Production assistant, television' | 'Fernandez-Hart' | '1936-02-16'  | '4497383897034'       | 'VISA 16 digit'      | '04/33'            | 'GB67QQXR62530753241657' |
+-------------------+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| 'Carrie Newton'   | '53038 Elizabeth Pines Suite 662 Brownmouth, WY 59525' | 'hevans@example.net'         | '(255)638-1345x32467'  | 'Engineer, aeronautical'           | 'Stewart PLC'    | '1910-09-05'  | '4500647468766235785' | 'VISA 16 digit'      | '06/28'            | 'GB94MWTS75251442969367' |
+-------------------+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| 'Brenda Jones'    | '197 Ponce Ramp Millerburgh, MH 63890'                 | 'jennifercastro@example.org' | '+1-480-261-6191x537'  | 'Scientist, marine'                | 'Graham Ltd'     | '1945-11-26'  | '180079093536163'     | 'Mastercard'         | '05/31'            | 'GB77OJME79869049973578' |
+-------------------+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
| 'Amanda Daniel'   | '5241 Hodge Brook Apt. 056 Alyssachester, KY 74623'    | 'blake28@example.net'        | '+1-330-273-3579x8539' | 'Engineer, production'             | 'Fields LLC'     | '1955-12-23'  | '4524226787210830'    | 'VISA 16 digit'      | '07/30'            | 'GB19MRAU53286539413909' |
+-------------------+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+
...

#### creation de colonne first_name et last_name puis sppression de la colonne name

In [22]:
data_clean = (
    data_clean
    .addfield('first_name', lambda row: row.name.split()[0].strip("'"))
    .addfield('last_name', lambda row: row.name.split()[1].strip("'"))
    .cutout('name')
)
etl.look(data_clean)

+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+
| address                                                | email                        | phone_number           | job                                | company          | date_of_birth | credit_card_number    | credit_card_provider | credit_card_expire | iban                     | first_name | last_name   |
+========================================================+==============================+========================+====================================+==================+===============+=======================+======================+====================+==========================+============+=============+
| '5143 Garcia Shoal Suite 003 Justintown, CA 11547'     | 'jessicanoble@example.org'   | '(520)497-4691x878'    | 'Patent examiner'                  | 'Mcneil LLC'     | '1988-02-06'  | '4636965895776324'    | 'JCB 16 digit'       | '12/27'            | 'GB14RZNN89771295811289' | 'Ian'      | 'Yang'      |
+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+
| '9873 John Fort Suite 560 Jessicaland, NJ 92651'       | 'hsmith@example.com'         | '(605)552-4666'        | 'Production assistant, television' | 'Fernandez-Hart' | '1936-02-16'  | '4497383897034'       | 'VISA 16 digit'      | '04/33'            | 'GB67QQXR62530753241657' | 'Colin'    | 'Hernandez' |
+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+
| '53038 Elizabeth Pines Suite 662 Brownmouth, WY 59525' | 'hevans@example.net'         | '(255)638-1345x32467'  | 'Engineer, aeronautical'           | 'Stewart PLC'    | '1910-09-05'  | '4500647468766235785' | 'VISA 16 digit'      | '06/28'            | 'GB94MWTS75251442969367' | 'Carrie'   | 'Newton'    |
+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+
| '197 Ponce Ramp Millerburgh, MH 63890'                 | 'jennifercastro@example.org' | '+1-480-261-6191x537'  | 'Scientist, marine'                | 'Graham Ltd'     | '1945-11-26'  | '180079093536163'     | 'Mastercard'         | '05/31'            | 'GB77OJME79869049973578' | 'Brenda'   | 'Jones'     |
+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+
| '5241 Hodge Brook Apt. 056 Alyssachester, KY 74623'    | 'blake28@example.net'        | '+1-330-273-3579x8539' | 'Engineer, production'             | 'Fields LLC'     | '1955-12-23'  | '4524226787210830'    | 'VISA 16 digit'      | '07/30'            | 'GB19MRAU53286539413909' | 'Amanda'   | 'Daniel'    |
+--------------------------------------------------------+------------------------------+------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+
...

In [23]:
data_clean = (
    data_clean
    .addfield('phone', lambda row: row.phone_number.split('x')[0].strip() if 'x' in row.phone_number else row.phone_number)
    .addfield('bureau', lambda row: row.phone_number.split('x')[1].strip() if 'x' in row.phone_number else None)
    .cutout('phone_number')
)
etl.look(data_clean)

+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| address                                                | email                        | job                                | company          | date_of_birth | credit_card_number    | credit_card_provider | credit_card_expire | iban                     | first_name | last_name   | phone             | bureau  |
+========================================================+==============================+====================================+==================+===============+=======================+======================+====================+==========================+============+=============+===================+=========+
| '5143 Garcia Shoal Suite 003 Justintown, CA 11547'     | 'jessicanoble@example.org'   | 'Patent examiner'                  | 'Mcneil LLC'     | '1988-02-06'  | '4636965895776324'    | 'JCB 16 digit'       | '12/27'            | 'GB14RZNN89771295811289' | 'Ian'      | 'Yang'      | '(520)497-4691'   | '878'   |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '9873 John Fort Suite 560 Jessicaland, NJ 92651'       | 'hsmith@example.com'         | 'Production assistant, television' | 'Fernandez-Hart' | '1936-02-16'  | '4497383897034'       | 'VISA 16 digit'      | '04/33'            | 'GB67QQXR62530753241657' | 'Colin'    | 'Hernandez' | '(605)552-4666'   | None    |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '53038 Elizabeth Pines Suite 662 Brownmouth, WY 59525' | 'hevans@example.net'         | 'Engineer, aeronautical'           | 'Stewart PLC'    | '1910-09-05'  | '4500647468766235785' | 'VISA 16 digit'      | '06/28'            | 'GB94MWTS75251442969367' | 'Carrie'   | 'Newton'    | '(255)638-1345'   | '32467' |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '197 Ponce Ramp Millerburgh, MH 63890'                 | 'jennifercastro@example.org' | 'Scientist, marine'                | 'Graham Ltd'     | '1945-11-26'  | '180079093536163'     | 'Mastercard'         | '05/31'            | 'GB77OJME79869049973578' | 'Brenda'   | 'Jones'     | '+1-480-261-6191' | '537'   |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '5241 Hodge Brook Apt. 056 Alyssachester, KY 74623'    | 'blake28@example.net'        | 'Engineer, production'             | 'Fields LLC'     | '1955-12-23'  | '4524226787210830'    | 'VISA 16 digit'      | '07/30'            | 'GB19MRAU53286539413909' | 'Amanda'   | 'Daniel'    | '+1-330-273-3579' | '8539'  |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
...

In [24]:
# Nettoie et standardise les valeurs de credit_card_expire
data_clean = (
    data_clean
    # Convertie en datetime et reformate en "DD-MM-YY" credit_card_expire date
    .convert('credit_card_expire', lambda v: pd.to_datetime(f"01/{v}", format="%d/%m/%y").strftime("%d-%m-%y"))
)
etl.look(data_clean)

+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| address                                                | email                        | job                                | company          | date_of_birth | credit_card_number    | credit_card_provider | credit_card_expire | iban                     | first_name | last_name   | phone             | bureau  |
+========================================================+==============================+====================================+==================+===============+=======================+======================+====================+==========================+============+=============+===================+=========+
| '5143 Garcia Shoal Suite 003 Justintown, CA 11547'     | 'jessicanoble@example.org'   | 'Patent examiner'                  | 'Mcneil LLC'     | '1988-02-06'  | '4636965895776324'    | 'JCB 16 digit'       | '01-12-27'         | 'GB14RZNN89771295811289' | 'Ian'      | 'Yang'      | '(520)497-4691'   | '878'   |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '9873 John Fort Suite 560 Jessicaland, NJ 92651'       | 'hsmith@example.com'         | 'Production assistant, television' | 'Fernandez-Hart' | '1936-02-16'  | '4497383897034'       | 'VISA 16 digit'      | '01-04-33'         | 'GB67QQXR62530753241657' | 'Colin'    | 'Hernandez' | '(605)552-4666'   | None    |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '53038 Elizabeth Pines Suite 662 Brownmouth, WY 59525' | 'hevans@example.net'         | 'Engineer, aeronautical'           | 'Stewart PLC'    | '1910-09-05'  | '4500647468766235785' | 'VISA 16 digit'      | '01-06-28'         | 'GB94MWTS75251442969367' | 'Carrie'   | 'Newton'    | '(255)638-1345'   | '32467' |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '197 Ponce Ramp Millerburgh, MH 63890'                 | 'jennifercastro@example.org' | 'Scientist, marine'                | 'Graham Ltd'     | '1945-11-26'  | '180079093536163'     | 'Mastercard'         | '01-05-31'         | 'GB77OJME79869049973578' | 'Brenda'   | 'Jones'     | '+1-480-261-6191' | '537'   |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '5241 Hodge Brook Apt. 056 Alyssachester, KY 74623'    | 'blake28@example.net'        | 'Engineer, production'             | 'Fields LLC'     | '1955-12-23'  | '4524226787210830'    | 'VISA 16 digit'      | '01-07-30'         | 'GB19MRAU53286539413909' | 'Amanda'   | 'Daniel'    | '+1-330-273-3579' | '8539'  |
+--------------------------------------------------------+------------------------------+------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
...

#### combinaison de plusieurs actions sur le tableau

In [25]:
data2 = (
    data
    .addfield('first_name', lambda row: row.name.split()[0].strip("'"))
    .addfield('last_name', lambda row: row.name.split()[1].strip("'"))
    .cutout('name')
    .addfield('phone', lambda row: row.phone_number.split('x')[0].strip() if 'x' in row.phone_number else row.phone_number)
    .addfield('bureau', lambda row: row.phone_number.split('x')[1].strip() if 'x' in row.phone_number else None)
    .cutout('phone_number')
    .convert('credit_card_expire', lambda v: pd.to_datetime(f"01/{v}", format="%d/%m/%y").strftime("%d-%m-%y"))
    .select(lambda row: row.credit_card_provider == 'VISA 16 digit' 
           and pd.to_datetime(row.credit_card_expire, format='%d-%m-%y') >= pd.to_datetime('01-01-25', format='%d-%m-%y'))
)
etl.look(data2)

+---------------------------------------------------------+--------------------------------+-----------------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| address                                                 | email                          | job                                           | company          | date_of_birth | credit_card_number    | credit_card_provider | credit_card_expire | iban                     | first_name | last_name   | phone             | bureau  |
+=========================================================+================================+===============================================+==================+===============+=======================+======================+====================+==========================+============+=============+===================+=========+
| '9873 John Fort Suite 560\nJessicaland, NJ 92651'       | 'hsmith@example.com'           | 'Production assistant, television'            | 'Fernandez-Hart' | '1936-02-16'  | '4497383897034'       | 'VISA 16 digit'      | '01-04-33'         | 'GB67QQXR62530753241657' | 'Colin'    | 'Hernandez' | '(605)552-4666'   | None    |
+---------------------------------------------------------+--------------------------------+-----------------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '53038 Elizabeth Pines Suite 662\nBrownmouth, WY 59525' | 'hevans@example.net'           | 'Engineer, aeronautical'                      | 'Stewart PLC'    | '1910-09-05'  | '4500647468766235785' | 'VISA 16 digit'      | '01-06-28'         | 'GB94MWTS75251442969367' | 'Carrie'   | 'Newton'    | '(255)638-1345'   | '32467' |
+---------------------------------------------------------+--------------------------------+-----------------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '5241 Hodge Brook Apt. 056\nAlyssachester, KY 74623'    | 'blake28@example.net'          | 'Engineer, production'                        | 'Fields LLC'     | '1955-12-23'  | '4524226787210830'    | 'VISA 16 digit'      | '01-07-30'         | 'GB19MRAU53286539413909' | 'Amanda'   | 'Daniel'    | '+1-330-273-3579' | '8539'  |
+---------------------------------------------------------+--------------------------------+-----------------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '67747 Kim Lock Suite 502\nPort Ronaldside, NM 75167'   | 'franklinfigueroa@example.net' | 'Engineer, production'                        | 'Thompson LLC'   | '1921-12-14'  | '2680559462842541'    | 'VISA 16 digit'      | '01-08-28'         | 'GB48JBAW22734956890018' | 'Leslie'   | 'Miller'    | '670-404-6957'    | '8603'  |
+---------------------------------------------------------+--------------------------------+-----------------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
| '4509 Spears Motorway Suite 551\nAmyport, CO 90757'     | 'melissa96@example.net'        | 'Armed forces training and education officer' | 'Gordon-Young'   | '1912-08-09'  | '4985900389950363'    | 'VISA 16 digit'      | '01-05-27'         | 'GB32LMTH11224853444257' | 'Sandra'   | 'Valentine' | '643-917-1003'    | '8434'  |
+---------------------------------------------------------+--------------------------------+-----------------------------------------------+------------------+---------------+-----------------------+----------------------+--------------------+--------------------------+------------+-------------+-------------------+---------+
...

### loading dans un nouveau fichier csv

In [27]:
etl.tocsv(data2, "clean_and_filter.csv")