In [ ]:
%pip install pandas
%pip install sqlalchemy
%pip install psycopg2-binary
%pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
%config SqlMagic.autopandas = True

#### Chargement de la base de données sqlite explo.db

In [ ]:
%sql sqlite:///../explo.db

#### Chargement de la data

In [ ]:
! python populate_db.py

### Requêtes SQL dans le notebook

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    department TEXT NOT NULL
)

#### Création d'un DataFrame à partir d'une requête SQL

In [ ]:
import pandas as pd

query = "SELECT DISTINCT id, name, department FROM employees;"
df = pd.read_sql_query(query, 'sqlite:///../explo.db')
print(df)

#### Autres requêtes SQL sur base de données SQLite explo.db

In [ ]:
%%sql
UPDATE employees
SET name = 'Sacha'
WHERE name = 'Albert' AND department = 'HR'

In [ ]:
%%sql
DELETE FROM employees
WHERE name = 'Sacha'

Oui, la contrainte `CHECK(price > 0)` garantit que la colonne `price` de la table `products` 
ne peut contenir que des valeurs strictement positives. 
Si une tentative est faite pour insérer ou mettre à jour une valeur de `price` 
qui n'est pas strictement positive, une erreur sera levée.

In [ ]:
df_products = pd.read_sql_query("SELECT * FROM products;", 'sqlite:///../explo.db')
df_products

In [ ]:
import pandas as pd
query = "SELECT orders.order_id, orders.customer_id, customers.name FROM orders INNER JOIN customers ON orders.customer_id = customers.id;"
df_inner_join = pd.read_sql_query(query, 'sqlite:///../explo.db')
print("INNER JOIN Result:")
print(df_inner_join)

In [ ]:
import pandas as pd
query = "SELECT orders.order_id, orders.customer_id, customers.name FROM orders LEFT JOIN customers ON orders.customer_id = customers.id;"
df_left_join = pd.read_sql_query(query, 'sqlite:///../explo.db')
print("LEFT JOIN Result:")
print(df_left_join)

In [ ]:
import pandas as pd
query = "SELECT customers.id, customers.name, orders.order_id FROM customers LEFT JOIN orders ON customers.id = orders.customer_id;"
print("Simulated RIGHT JOIN Result:")
print(df_right_join)

In [15]:
import pandas as pd
query = "SELECT orders.order_id, orders.customer_id, customers.name FROM orders LEFT JOIN customers ON orders.customer_id = customers.id UNION SELECT orders.order_id, orders.customer_id, customers.name FROM customers LEFT JOIN orders ON customers.id = orders.customer_id;"
df_full_outer_join = pd.read_sql_query(query, 'sqlite:///../explo.db')
print("Simulated FULL OUTER JOIN Result:")
print(df_full_outer_join)

Simulated FULL OUTER JOIN Result:
    order_id  customer_id        name
0        NaN          NaN  Customer B
1        NaN          NaN  Customer C
2        NaN          NaN  Customer D
3        NaN          NaN  Customer F
4        NaN          NaN  Customer H
5        1.0         10.0  Customer A
6        2.0         10.0  Customer A
7        3.0         14.0  Customer E
8        4.0         14.0  Customer E
9        5.0         14.0  Customer E
10       6.0         16.0  Customer G
11       7.0         16.0  Customer G
12       8.0         18.0  Customer I
13       9.0         18.0  Customer I

In [16]:
import pandas as pd
query = "SELECT c1.id AS customer_id_1, c1.name AS customer_name_1, c2.id AS customer_id_2, c2.name AS customer_name_2 FROM customers c1 INNER JOIN customers c2 ON c1.id != c2.id;"
df_auto_join = pd.read_sql_query(query, 'sqlite:///../explo.db')
print("AUTO JOIN Result:")
print(df_auto_join)

AUTO JOIN Result:
    customer_id_1 customer_name_1  customer_id_2 customer_name_2
0              10      Customer A             11      Customer B
1              10      Customer A             12      Customer C
2              10      Customer A             13      Customer D
3              10      Customer A             14      Customer E
4              10      Customer A             15      Customer F
..            ...             ...            ...             ...
67             18      Customer I             13      Customer D
68             18      Customer I             14      Customer E
69             18      Customer I             15      Customer F
70             18      Customer I             16      Customer G
71             18      Customer I             17      Customer H

[72 rows x 4 columns]